body {
    font-family: Calibri;
    background-color:ghostwhite;
}

header {
    color:darkslategray;
    text-align: center;
    padding: 10px;
}

#calculator {
    background-color:darkgrey;
    border: 1px solid darkslategrey;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 15px 10px rgba(0,0,0,0.2);
}

.screen {
    height: 80px;
    border: 1px solid darkslategrey;
    background-color:khaki;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 15px;
}

.keyboard {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
}

.keyboard > button {
    text-align: center;
    font-weight: bold;
    background-color:gainsboro;
    color:darkslategray;
    width: 60px;
    height: 50px;
    border: 1px solid rgb(108, 108, 108);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.keyboard > .operators {
    background-color:coral;
    color:rgb(36, 61, 61);
}

.keyboard > .operators:hover {
    background-color:rgb(213, 107, 68);
    color:rgb(26, 44, 44);
}

.keyboard > .operators:active {
    background-color:rgb(181, 90, 58);
    color:rgb(26, 44, 44);
}

.keyboard > .controls {
    background-color:#818181;
    color:rgb(31, 52, 52);
}

.keyboard > .controls:hover {
    background-color:#6b6b6b;
    color:rgb(17, 29, 29);
}

.keyboard > .controls:active {
    background-color:#5d5d5d;
    color:rgb(14, 23, 23);
}

.keyboard > .symbols:hover {
    background-color:rgb(171, 171, 171);
    color:rgb(22, 36, 36);
}

.keyboard > .symbols:active {
    background-color:rgb(150, 150, 150);
    color:rgb(22, 36, 36);
}

footer{
    color:darkslategray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}